<header>
  <h2>POC / Angular - NodeRed Communication</h2>
</header>

<div class="form-container">
  <form [formGroup]="form">
    <input type="text" formControlName="message">
    <button (click)="send()">Send message [POST]</button>
  </form>
</div>

<div class="get-info">
  <p>{{infoHttp | json}}</p>
</div>

<section class="content">
  <div>
    <h5>Http</h5>
    <ul>
      <li *ngFor="let item of infoArr">{{item.message}}</li>
    </ul>
  </div>
  <div>
    <h5>Socket</h5>
    <p>{{infoSocket}}</p>
  </div>
</section>
